/* @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* h1 , h2{
  font-family: "Sora", sans-serif;

}
p{
  font-family: "Inter", sans-serif;
} */

.outerContent {
  background: linear-gradient(59deg,
      rgba(100, 214, 207, 0.5) 0%,
      rgba(242, 212, 159, 0.5) 100%);
}

.innerContent {
  background: linear-gradient(59deg,
      rgba(100, 214, 207, 1) 0%,
      rgba(242, 212, 159, 1) 100%);
}

/* Navbar CSS StyleSheet Here */

/* Add this at the top of your CSS */


.navbar {
  position: fixed;
  top: 0;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3em 0;
  overflow-x: hidden;
  transition: all 0.3s ease;
  background: transparent;
}

.navbar.scrolled {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gradient {
  background: rgb(100, 214, 207);
  background: linear-gradient(59deg,
      rgba(100, 214, 207, 1) 0%,
      rgba(242, 212, 159, 1) 100%);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/* Buttons */
.submit-btn>button {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 0px 0px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: "30px";
  width: 150px;
}

.buttons>button {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: "30px";
  width: 150px;
}

.upload-download-button {
  flex-wrap: wrap !important;
}

.upload-download-button>button {
  background-color: #000;
  font-weight: 400;
  font-size: 1.1em;
  border: none;
  color: #fff;
  min-width: 150px;
  padding: 7px 20px;
  border-radius: 5px;
  text-decoration: none;
}

/* button:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */
/* For AI Models */

.aiModels {
  width: 100%;
  margin-top: 3.2em;
  min-height: 100vh;
  padding-bottom: 50px;
  /* height: 110%; */
  background: rgb(100, 214, 207);
  background: linear-gradient(59deg,
      rgba(100, 214, 207, 1) 0%,
      rgba(242, 212, 159, 1) 100%);
}

/* Toggle button Container */
.toggleButton {
  margin-bottom: 5px;
  margin-top: 5px;
}

.imageContainer {
  width: 95%;
  height: 100%;
  display: flex;
  padding: 10px;
  gap: 30px;
}

.originalImage {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

/* Restored Image */
.restoredImage {
  width: 100%;
  height: 100%;
}

.restoredImageContainer {
  width: 100%;
  height: 100%;
}

.box-container {
  /* padding: 10px; */
  border-radius: 5px;
  margin-block: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* For AI Models */
.allModelCards {
  width: 100%;
  justify-content: center;
  padding: 0px 50px 0px 50px;
  gap: 20px;
}

.allCardContainer {
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.26);
  width: 32%;
  min-height: 25rem;
  /* padding-bottom: 10px; */
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.card-info {
  min-height: 130px;
  /* background-color: aqua; */
  padding: 30px 20px 30px 20px;
}

.card-info>h3 {
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.card-info>p {
  min-height: 70px;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-img>img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background: gray;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background-clip: padding-box;
  border-radius: 20px;
}

/* Uploader custom border */
.uploader-custom-border {
  width: 30rem;
  border: 2px dotted black;
  border-radius: 5px;
}

/* Ai Model Container */
@media (max-width: 768px) {

  /* for card in all AI pages */
  .navbar {
    padding: 5px 1em;
  }

  .box-container {
    display: flex;
    flex-direction: column;
  }

  .allModelCards {
    margin: 30px 0px;
  }

  .allCardContainer {
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
  }

  .card {
    width: 100%;
  }

  .allModelCards {
    width: 100%;
    justify-content: center;
    padding: 0px 1em 0px 1em;
    gap: 20px;
  }

  .uploader-custom-border {
    width: 100%;
  }

  .upload-download-button>button {
    background-color: #000;
    font-weight: 400;
    font-size: 1.1em;
    border: none;
    color: #fff;
    width: 100%;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
}

.image-container {
  position: relative;
  display: inline-block;
  margin-top: 100px;
}

.before-after-badge {
  position: absolute;
  top: 20px;
  /* Adjust the position as needed */
  left: -4px;
  /*Adjust the position as needed*/
  width: 100px;
  text-align: center;
  background: linear-gradient(-59deg,
      rgba(100, 214, 207, 1) 0%,
      rgba(242, 212, 159, 0.3) 100%);
  /* Adjust the background color */
  color: #000;
  /* Adjust the text color */
  padding: 5px 10px;
  /* Adjust the padding */
  font-size: 20px;
  /* Adjust the font size */
  border-radius: 0px 5px 5px 0px;
  /* Adjust the border radius */
  /* transform: rotate(-45deg); Adjust the rotation angle */
}

.creditUsageContainer {
  box-shadow: 0 0.5px 0 #ccc, 0 1px 0 #c9c9c9, 0 1.5px 0 #bbb, 0 2px 0 #b9b9b9,
    0 2.5px 0 #aaa, 0 3px 0.5px rgba(0, 0, 0, 0.1), 0 0 2.5px rgba(0, 0, 0, 0.1),
    0 0.5px 1.5px rgba(0, 0, 0, 0.3), 0 1.5px 2.5px rgba(0, 0, 0, 0.2),
    0 2.5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.15);
}

.modelInformation>h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  max-width: 56rem;
  /* margin-left: auto;
  margin-right: auto; */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.modelInformation>p {
  font-weight: 400;
  margin-top: 30px;
  font-size: 1rem;
  line-height: 1;
  max-width: 56rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.modelCarouselOne {
  background: linear-gradient(59deg,
      rgba(100, 214, 207, 1) 0%,
      rgba(242, 212, 159, 1) 100%);
}

.modelCarouselTwo {
  background: linear-gradient(59deg,
      rgba(100, 214, 207, 1) 0%,
      rgba(242, 212, 159, 1) 100%);
}

/*Only For Model CWJBW */
.imageAfterAllProcess {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 5rem;
  width: 150px;
  justify-content: center;
}

.coloredImage>img {
  border-radius: 5px;
}

/* Footer  */
.footerContainer {
  width: 100%;
  height: 70vh;
  color: #000;
  border-top: 0.01px solid rgba(0, 0, 0, 0.26);
  background-color: #e8d5d5;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.footerLogo>img {
  border-radius: 4px;
  cursor: pointer;
}

@keyframes flyRocket {
  from {
    transform: translate(-5vw, 4vw);
  }

  to {
    transform: translate(1,
        -3vh);
    /* Adjust the distance based on your preference */
  }
}

.rocket {
  animation: flyRocket 1s linear normal;
  /* Adjust duration and timing function as needed */
}

#upload-button {
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upload-button {
  gap: 0.4rem;
  font-size: 18px;
  cursor: pointer;
}

#upload {
  display: none;
}

svg {
  pointer-events: none;
}

#example {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

#example:hover {
  color: teal;
}

/* canvas {
  position: absolute;
  width: 100%;
  height: 100%;
} */
#status {
  min-height: 16px;
  margin: 8px 0;
}

/* Transformer JS Remove Background Container */
@media (max-width: 768px) {
  /* #upload-button {
    gap: 0.4rem;
    font-size: 18px;
    cursor: pointer;
  }
  #container,
  #upload-button {
    margin-top: 3rem;

    background-color: #2563eb;
    display: flex;
    padding:50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}

.custom-loader {
  width: 40px;
  height: 40px;
  color: #000000;
  position: relative;
  background: radial-gradient(10px, currentColor 94%, #0000);
}

.custom-loader:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(9px at bottom right, #0000 94%, currentColor) top left,
    radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
    radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
    radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: sp8 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes sp8 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }

  66% {
    inset: -10px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.ribbon {
  --f: 0.5em;
  /*control the folded part*/
  position: absolute;
  top: 0;
  color: #fff;
  padding: 0.1em 3em;
  background: var(--c, #bd1550);
  border-bottom: var(--f) solid #0007;
  clip-path: polygon(100% calc(100% - var(--f)),
      100% 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),
      var(--f) calc(100% - var(--f)),
      0 100%,
      0 calc(100% - var(--f)),
      999px calc(100% - var(--f) - 999px),
      calc(100% - 999px) calc(100% - var(--f) - 999px));
}

.right {
  right: 0;
  transform: translate(calc((1 - cos(45deg)) * 100%), -100%) rotate(45deg);
  transform-origin: 0% 100%;
}

.bg-glow {
  -webkit-box-shadow: 0px 0px 10px 9px rgba(74, 179, 168, 0.76);
  -moz-box-shadow: 0px 0px 10px 9px rgba(74, 179, 168, 0.76);
  box-shadow: 0px 0px 10px 2px rgba(74, 179, 168, 0.76);
}

.bg-glow-border {
  -webkit-box-shadow: 0px 0px 10px 9px rgba(33, 104, 97, 0.76);
  -moz-box-shadow: 0px 0px 10px 9px rgba(45, 107, 101, 0.76);
  box-shadow: 0px 0px 10px 2px rgba(39, 56, 54, 0.76);
}

.cursor {
  pointer-events: none;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;

    circle {
      fill: #f7f8fa;
    }
  }
}

.ribbonHeading {
  font-family: "Nixie One", cursive;
  font-size: 20px;
  display: inline;
  position: relative;
  background: #93dfb8;
  color: #000;
  text-align: center;
  padding: 0.5em 1.5em;
  /* Adjust to suit */
  margin: 2em auto 3em;
  /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbonHeading:before,
.ribbonHeading:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #7ac69f;
  z-index: -1;
}

.ribbonHeading:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.ribbonHeading:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbonHeading-content:before,
.ribbonHeading-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #60ac85 transparent transparent transparent;
  bottom: -1em;
}

.ribbonHeading-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbonHeading-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

.custom-loader-text-to-video {
  width: 100px;
  height: 100px;
  --c: radial-gradient(farthest-side, #dee2e6 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}

@keyframes s7 {
  to {
    transform: rotate(.5turn)
  }
}